body{
  background-image: url(https://www.fg-a.com/wallpapers/white-marble-4-2018.jpg);
  padding-left: 50px;
}
span{
  color: white;
  font-weight: lighter;
  
}
span{
  color: grey;
  font-size: 100px;
  font-style: italic;
  font-family: sans-serif;
  padding-left:300px;
}
a{
  color: grey;
  font-family: sans-serif;
  font-weight: lighter;
}
ul{
  font-family: sans-serif;
  font-weight: lighter;
}
ol{
  font-family: sans-serif;
  font-weight: lighter;
}
h1{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: lighter;
}
footer{
  padding-top: 20px;
  padding-bottom: 20px;
}
img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
h2{
  color: tomato;
}
